.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom, #CB9DF0, #F0C1E1)
}
.input-container {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  input {
    width: 80%;
    padding: 8px;
  }
}
.main-container {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  box-shadow: 10px 5px 5px gray;
  border-radius: 8px;
  padding: 16px;
  gap: 10px;
  width: 300px;
  h2 {
    margin-bottom: 0px;
  }
  background-color: white;
}
.to-do-lits-container {
  width: 100%;
  display: flex;
  border: 1px solid black;
  min-height: 20px;
  margin-bottom: 8px;
  flex-direction: column;
  padding: 12px;
  box-sizing: border-box;
  gap: 5px;
  border-radius: 8px;
}
